.site-settings-entire{
    height: auto;
}
.sitesetting-aboutus textarea,.sitesetting-contactus textarea{
    resize: none;
    height: 78vh;
    width: 85%;
    font-size: medium;
}
.sitesetting-btn1{
    height: 7vh;
    width: 6%;
    background-color: rgb(9, 194, 241);
    border-color: rgb(9, 194, 241);
    color: white;
}
.sitesetting-btn2{
    height: 7vh;
    width: 12%;
    background-color: rgb(12, 164, 7);
    border-color: rgb(12, 164, 7);
    color: white;
}
.site-settings-contents{
    padding-left: 7%;
}